body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background: rgb(0, 187, 255);
    background: linear-gradient(
      90deg,
      rgba(0, 187, 255, 1) 0%,
      rgba(0, 0, 126, 1) 100%
    );
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
  label {
    color: white;
    font-size: 17px;
  }
  
  button {
      margin-top: 10px;
      font-size:15px;
      font-family:Arial;
      width:100px;
      height:50px;
      border-width:1px;
      color:#14396a;
      border-color:#3866a3;
      font-weight:bold;
      border-top-left-radius:6px;
      border-top-right-radius:6px;
      border-bottom-left-radius:6px;
      border-bottom-right-radius:6px;
      box-shadow:inset 0px 1px 0px 0px #bee2f9;
      text-shadow:inset 0px 1px 0px #7cacde;
      background:linear-gradient(#63b8ee, #468ccf);
    }
    
  button:hover {
      background: linear-gradient(#468ccf, #63b8ee);
    }
                  
  
  h2 {
    color: #ffffff;
    font-size: 30px;
  }